<section id="product-detail">
  <div class="container d-flex mt-5">
    <div class="image">
      <img [src]="urlPrefix + product.image" alt="" />
    </div>
    <div class="d-flex flex-column mx-5">
      <div class="description mb-4">
        <p>Name: {{ product.name }}</p>
        <p>Price: Rs.{{ product.price }}</p>
        <p>Items in stock: {{ product.stock }}</p>
        <p>Supplier Name: {{ product.supplierName }}</p>
      </div>
      <div class="buy-action">
        <div class="items-count-wrapper">
          <button class="btn btn-secondary" (click)="onDecrementCount()">
            -
          </button>
          <input
            type="number"
            name="count"
            [(ngModel)]="selectedItems"
            class="mx-2 items-count"
            id="count"
          />
          <button class="btn btn-secondary" (click)="onIncrementCount()">
            +
          </button>
        </div>
        <button
          [ngClass]="
            isLoggedIn()
              ? 'btn btn-primary mt-2 btn-buy'
              : 'btn btn-primary mt-2 btn-buy disabled'
          "
          (click)="onBuyButtonClick()"
        >
          Buy Now
        </button>
        <p class="mt-3" *ngIf="!isLoggedIn()">
          Please login first<a routerLink="/login"><b> Login</b></a>
        </p>
      </div>
    </div>
  </div>
</section>
