<section id="transactiondetail">
  <div class="container">
    <h2 class="my-4">Transaction Summary</h2>
    <div class="box-wrapper row my-5">
      <div class="box col col-md-3">
        <div class="card">
          <div class="card-body shadow-lg text-center">
            <h3 class="card-title">Total Transaction:</h3>
            <h3 class="card-text">90</h3>
            <span class="badge card-badge rounded-pill bg-primary">10</span>
          </div>
        </div>
      </div>
      <div class="box col col-md-3">
        <div class="card">
          <div class="card-body shadow-lg text-center">
            <h3 class="card-title">Total Products:</h3>
            <h3 class="card-text">10</h3>
            <span class="badge card-badge rounded-pill bg-primary">10</span>
          </div>
        </div>
      </div>
      <div class="box col col-md-3">
        <div class="card">
          <div class="card-body shadow-lg text-center">
            <h3 class="card-title">Total Sales:</h3>
            <h3 class="card-text">10</h3>
            <span class="badge card-badge rounded-pill bg-primary">10</span>
          </div>
        </div>
      </div>
      <div class="box col col-md-3">
        <div class="card">
          <div class="card-body shadow-lg text-center">
            <h3 class="card-title">Total Sales:</h3>
            <h3 class="card-text">10</h3>
            <span class="badge card-badge rounded-pill bg-primary">10</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
